<!--====================  breadcrumb area ====================-->

<div class="breadcrumb-area section-space--breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <!--=======  breadcrumb wrapper  =======-->

                <div class="breadcrumb-wrapper" *ngIf="!showSkeleton">
                    <ul class="breadcrumb-list">
                        <li *ngFor="let bc of searchResult.breadcrumb" [class.active]="bc.active">
                            <a *ngIf="!bc.active else activeBc" routerLink="{{bc.link}}">{{bc.text}}</a>
                            <ng-template #activeBc>
                                {{bc.text}}
                            </ng-template>
                        </li>
                    </ul>
                </div>
                <div class="breadcrumb-wrapper" *ngIf="showSkeleton">
                    <ngx-skeleton-loader count="1"></ngx-skeleton-loader>
                </div>

                <!--=======  End of breadcrumb wrapper  =======-->
            </div>
        </div>
    </div>
</div>

<!--====================  End of breadcrumb area  ====================-->

<!--====================  page content wrapper ====================-->

<div class="page-content-wrapper">
    <!--=======  shop page area  =======-->

    <div class="shop-page-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 order-2 order-lg-1">
                    <app-skeleton-sidebar *ngIf="showSkeleton"></app-skeleton-sidebar>
                    <app-sidebar *ngIf="!showSkeleton"
                                 [facets]="facets"
                                 [searchResult]="searchResult"
                                 (addFacetEvent)="addFacet($event)"
                                 (removeFacetEvent)="removeFacet($event)"></app-sidebar>
                </div>

                <div class="col-lg-9 order-1 order-lg-2">
                    <!--=======  shop content wrapper  =======-->
                    <app-product-grid [searchResult]="searchResult"
                                      [showSkeleton]="showSkeleton"
                                      [sort]="sort"
                                      [sorts]="sorts"
                                      (sortingChanged)="updateSorting($event)"></app-product-grid>
                    <!--=======  End of shop content wrapper  =======-->
                </div>
            </div>
        </div>
    </div>

    <!--=======  End of shop page area  =======-->
</div>

<!--====================  End of page content wrapper  ====================-->

<!--=======  End of search overlay  =======-->
<!--=============================================
=            quick view         =
=============================================-->


<app-product-quick-view></app-product-quick-view>

<!--=====  End of quick view  ======-->