**/classes/
**/genSrc/
**/build/
**/scripts/
build/
target/
dist/
release/
obj/
.idea/
.gradle/
*.iml

velocity.log
*libs/
/tmp/*
/data/*
**/package-lock.json
/modules/**/jsbuild/
**/node_modules/
**/webroot/resources/static/
!/config/solr/
!**/solrserver/resources/**
