**/classes/
**/genSrc/
**/build/
**/scripts/
build/
target/
dist/
release/
obj/
.idea/
.gradle/
*.iml

velocity.log
*lib/
/tmp/*
/data/*
**/package-lock.json
/modules/commerce/front/commerce_shop/jsbuild/
**/node_modules/
**/webroot/resources/static/
!/config/solr/
