
<div class="row">
    <div class="col-12" *ngIf="deliveryTypes">
        <label>Delivery type</label>
        <select class="nice-select" #selectType
                (change)='selectDeliveryType(selectType.value)'>
            <option *ngFor="let type of deliveryTypes"
                    [selected]="selectedType && type.uuid == selectedType.uuid"
                    [value]="type.code">{{type.name[translate.currentLang]}}</option>

        </select>

    </div>
    <ng-template #deliveryTypeData></ng-template>
</div>



