<a routerLink="/cart">
    <i class="fa fa-shopping-basket"></i>
    <span *ngIf="miniCart" class="item-count">{{miniCart.productCount}}</span>
</a>
<div class="minicart-wrapper">
    <p class="minicart-wrapper__title">CART</p>
    <ng-template [ngIf]="miniCart.entries && miniCart.entries.length > 0">
        <div class="minicart-wrapper__items ps-scroll">
            <div class="minicart-wrapper__items__single" *ngFor="let entry of miniCart.entries">
                <a href="javascript:void(0)" class="close-icon" (click)="removeEntry(entry)">
                    <i class="pe-7s-close"></i>
                </a>
                <div class="image" style="width: 90px; height: 100px;">
                    <a routerLink="/product/{{entry.product.baseProductCode}}/v/{{entry.product.code}}">
                        <img *ngIf="entry.product.images || entry.product.images.length > 0"
                             src="/v1{{entry.product.images[0].path}}"
                             class="img-fluid" alt="{{entry.product.images[0].alt}}">
                    </a>
                </div>
                <div class="content">
                    <p class="product-title">
                        <a routerLink="/product/{{entry.product.baseProductCode}}/v/{{entry.product.code}}">{{entry.product.name}}</a>
                    </p>
                    <p class="product-calculation">
                        <span class="count">{{entry.quantity}}</span> x
                        <span class="price">{{entry.price}}</span>
                    </p>
                </div>
            </div>
        </div>

        <p class="minicart-wrapper__subtotal">SUBTOTAL: <span>{{miniCart.total}}</span></p>

        <div class="minicart-wrapper__buttons">
            <a routerLink="/cart"
               class="theme-button theme-button--minicart-button">
                VIEW CART
            </a>
            <a routerLink="/checkout"
               class="theme-button theme-button--alt theme-button--minicart-button theme-button--minicart-button--alt mb-0">
                CHECKOUT
            </a>
        </div>

<!--        <p class="minicart-wrapper__featuretext">-->
<!--            Free Shipping on All Orders Over $100!-->
<!--        </p>-->
    </ng-template>

    <ng-template [ngIf]="!miniCart.entries || miniCart.entries.length == 0">
        <p class="minicart-wrapper__featuretext text-uppercase">Empty</p>
    </ng-template>

</div>
