<!--====================  header area ====================-->
<app-header [store]="currentStore" (toggleMobileMenuEvent)="toggleMobileMenuEvent($event)"></app-header>
<!--====================  End of header area  ====================-->
<router-outlet></router-outlet>

<app-footer [store]="currentStore"></app-footer>



<!--====================  End of offcanvas items  ====================-->
<!--=======  search overlay  =======-->

<div class="search-overlay" id="search-overlay">

    <!--=======  close icon  =======-->

    <span class="close-icon search-close-icon">
        <a href="javascript:void(0)"  id="search-close-icon">
            <i class="pe-7s-close"></i>
        </a>
    </span>

    <!--=======  End of close icon  =======-->

    <!--=======  search overlay content  =======-->

    <div class="search-overlay-content">
        <div class="input-box">
            <form ngNoForm action="/search">
                <input type="search" name="q" placeholder="Search Products...">
            </form>
        </div>
        <div class="search-hint">
            <span># Hit enter to search or ESC to close</span>
        </div>
    </div>

    <!--=======  End of search overlay content  =======-->
</div>

<app-navigation-menu [renderMobile]="true" [mobileMenuOpen]="mobileMenuOpen" ></app-navigation-menu>


<!-- scroll to top  -->
<button (scroll)="scrollHandler($event)" (click)="scrollTop()" class="scroll-top">
    <i class="fa fa-angle-up"></i>
</button>