<nav *ngIf="!renderMobile" >
    <ul>
        <li *ngFor="let cat of categories | async"
                [ngClass]="{'has-children' : cat.children !== 'undefined' && cat.children.length > 0}" >
            <a routerLink="/category/{{cat.code}}">{{cat.name}}</a>
            <app-submenu *ngIf="cat.children !== 'undefined' && cat.children.length > 0"
                    [categoryData]="cat.children" ></app-submenu>
        </li>
    </ul>
</nav>

<!--====================  offcanvas items ====================-->

<!--=======  offcanvas mobile menu  =======-->

<div *ngIf="renderMobile"
        class="offcanvas-mobile-menu"
        [ngClass]="{'active':mobileMenuOpen, 'inactive':!mobileMenuOpen}">
    <a href="javascript:void(0)" class="offcanvas-menu-close" (click)="toggleMobileMenu()">
        <i class="pe-7s-close"></i>
    </a>

    <div class="offcanvas-wrapper">

        <div class="offcanvas-inner-content">
            <div class="offcanvas-mobile-search-area">
                <!--                <form action="#">-->
                <input type="search" placeholder="Search ...">
                <button type="submit">
                    <i class="fa fa-search"></i>
                </button>
                <!--                </form>-->
            </div>
            <nav class="offcanvas-naviagtion">
                <ul>
                    <li *ngFor="let cat of categories | async"
                            [ngClass]="{'menu-item-has-children' : cat.children !== 'undefined' && cat.children.length > 0}" >
                        <a routerLink="/category/{{cat.code}}">{{cat.name}}</a>
                        <app-submenu *ngIf="cat.children !== 'undefined' && cat.children.length > 0"
                                [subMenuClasses]="'sub-menu'"
                                [categoryData]="cat.children" ></app-submenu>
                    </li>
                </ul>
            </nav>

<!--            <div class="offcanvas-widget-area">-->
<!--                <div class="off-canvas-contact-widget">-->
<!--                    <div class="header-contact-info">-->
<!--                        <ul class="header-contact-info__list">-->
<!--                            <li>-->
<!--                                <i class="pe-7s-phone"></i>-->
<!--                                <a href="tel://12452456012">(1245) 2456 012</a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <i class="pe-7s-mail-open"></i>-->
<!--                                <a href="mailto:info@yourdomain.com">info@yourdomain.com</a>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash;Off Canvas Widget Social Start&ndash;&gt;-->
<!--                <div class="off-canvas-widget-social">-->
<!--                    <a href="#" title="Facebook">-->
<!--                        <i class="fa fa-facebook"></i>-->
<!--                    </a>-->
<!--                    <a href="#" title="Twitter">-->
<!--                        <i class="fa fa-twitter"></i>-->
<!--                    </a>-->
<!--                    <a href="#" title="LinkedIn">-->
<!--                        <i class="fa fa-linkedin"></i>-->
<!--                    </a>-->
<!--                    <a href="#" title="Youtube">-->
<!--                        <i class="fa fa-youtube-play"></i>-->
<!--                    </a>-->
<!--                    <a href="#" title="Vimeo">-->
<!--                        <i class="fa fa-vimeo-square"></i>-->
<!--                    </a>-->
<!--                </div>-->
<!--                &lt;!&ndash;Off Canvas Widget Social End&ndash;&gt;-->
<!--            </div>-->
        </div>
    </div>

</div>

<!--=======  End of offcanvas mobile menu  =======-->