<!--=======  shop sidebar wrapper  =======-->

<div class="shop-sidebar-wrapper">


    <!--=======  single sidebar widget  =======-->

    <div class="single-sidebar-widget">
        <h2 class="single-sidebar-widget__title">
            <ngx-skeleton-loader count="1"> </ngx-skeleton-loader>
        </h2>
        <div class="sidebar-price">
            <ngx-skeleton-loader count="1"> </ngx-skeleton-loader>
            <div class="output-wrapper">
                <ngx-skeleton-loader count="1"> </ngx-skeleton-loader>
            </div>
        </div>
    </div>

    <!--=======  End of single sidebar widget  =======-->

    <!--=======  single sidebar widget  =======-->

    <div class="single-sidebar-widget">
        <h2 class="single-sidebar-widget__title">
            <ngx-skeleton-loader count="1"> </ngx-skeleton-loader>
        </h2>

        <ul class="single-sidebar-widget__dropdown" id="single-sidebar-widget__dropdown">
            <li class="has-children">
                <ngx-skeleton-loader count="1"> </ngx-skeleton-loader>

            </li>
            <li class="has-children">
                <ngx-skeleton-loader count="1"> </ngx-skeleton-loader>

            </li>
            <li class="has-children">
                <ngx-skeleton-loader count="1"> </ngx-skeleton-loader>

            </li>
            <li class="has-children">
                <ngx-skeleton-loader count="1"> </ngx-skeleton-loader>

            </li>
            <li><ngx-skeleton-loader count="1"> </ngx-skeleton-loader></li>
            <li><ngx-skeleton-loader count="1"> </ngx-skeleton-loader></li>
        </ul>
    </div>

    <!--=======  End of single sidebar widget  =======-->

    <!--=======  single sidebar widget  =======-->

    <div class="single-sidebar-widget">
        <h2 class="single-sidebar-widget__title"><ngx-skeleton-loader count="1"> </ngx-skeleton-loader></h2>
        <ul class="single-sidebar-widget__dropdown">
            <li><ngx-skeleton-loader count="1"> </ngx-skeleton-loader></li>
            <li><ngx-skeleton-loader count="1"> </ngx-skeleton-loader></li>
            <li><ngx-skeleton-loader count="1"> </ngx-skeleton-loader></li>
            <li><ngx-skeleton-loader count="1"> </ngx-skeleton-loader></li>
            <li><ngx-skeleton-loader count="1"> </ngx-skeleton-loader></li>
            <li><ngx-skeleton-loader count="1"> </ngx-skeleton-loader></li>
        </ul>
    </div>

    <!--=======  End of single sidebar widget  =======-->
</div>

<!--=======  End of shop sidebar wrapper  =======-->