
/*=============================================
=            home one            =
=============================================*/

#rev_slider_23_1 .metis.tparrows{background:rgba(255,255,255,1); padding:10px; transition:all 0.3s; -webkit-transition:all 0.3s; width:60px; height:60px; box-sizing:border-box}#rev_slider_23_1 .metis.tparrows:hover{background:rgba(255,255,255,0.75)}#rev_slider_23_1 .metis.tparrows:before{color:rgb(0,0,0);   transition:all 0.3s; -webkit-transition:all 0.3s}#rev_slider_23_1 .metis.tparrows:hover:before{transform:scale(1.5)}.custom.tp-bullets{}.custom.tp-bullets:before{content:" ";position:absolute;width:100%;height:100%;background:transparent;padding:10px;margin-left:-10px;margin-top:-10px;box-sizing:content-box}.custom .tp-bullet{width:20px;height:5px;position:absolute;background:#aaa;  background:rgba(125,125,125,0.5);cursor:pointer;box-sizing:content-box}.custom .tp-bullet:hover,.custom .tp-bullet.selected{background:#000}.custom .tp-bullet-image{}.custom .tp-bullet-title{}


/*=====  End of home one  ======*/



/*=============================================
=            home two            =
=============================================*/

#rev_slider_24_1 .metis.tparrows{background:rgba(255,255,255,1); padding:10px; transition:all 0.3s; -webkit-transition:all 0.3s; width:60px; height:60px; box-sizing:border-box}#rev_slider_24_1 .metis.tparrows:hover{background:rgba(255,255,255,0.75)}#rev_slider_24_1 .metis.tparrows:before{color:rgb(0,0,0);   transition:all 0.3s; -webkit-transition:all 0.3s}#rev_slider_24_1 .metis.tparrows:hover:before{transform:scale(1.5)}.custom.tp-bullets{}.custom.tp-bullets:before{content:" ";position:absolute;width:100%;height:100%;background:transparent;padding:10px;margin-left:-10px;margin-top:-10px;box-sizing:content-box}.custom .tp-bullet{width:20px;height:5px;position:absolute;background:#aaa;  background:rgba(125,125,125,0.5);cursor:pointer;box-sizing:content-box}.custom .tp-bullet:hover,.custom .tp-bullet.selected{background:#000}.custom .tp-bullet-image{}.custom .tp-bullet-title{}

/*=====  End of home two  ======*/


/*=============================================
=            home three            =
=============================================*/

#rev_slider_30_1 .metis.tparrows{background:rgba(255,255,255,1); padding:10px; transition:all 0.3s; -webkit-transition:all 0.3s; width:60px; height:60px; box-sizing:border-box}#rev_slider_30_1 .metis.tparrows:hover{background:rgba(255,255,255,0.75)}#rev_slider_30_1 .metis.tparrows:before{color:rgb(0,0,0);   transition:all 0.3s; -webkit-transition:all 0.3s}#rev_slider_30_1 .metis.tparrows:hover:before{transform:scale(1.5)}.custom.tp-bullets{}.custom.tp-bullets:before{content:" ";position:absolute;width:100%;height:100%;background:transparent;padding:10px;margin-left:-10px;margin-top:-10px;box-sizing:content-box}.custom .tp-bullet{width:20px;height:5px;position:absolute;background:#aaa;  background:rgba(125,125,125,0.5);cursor:pointer;box-sizing:content-box}.custom .tp-bullet:hover,.custom .tp-bullet.selected{background:#000}.custom .tp-bullet-image{}.custom .tp-bullet-title{}

/*=====  End of home three  ======*/



/*=============================================
=            home four            =
=============================================*/

#rev_slider_25_1 .metis.tparrows{background:rgba(255,255,255,1); padding:10px; transition:all 0.3s; -webkit-transition:all 0.3s; width:60px; height:60px; box-sizing:border-box}#rev_slider_25_1 .metis.tparrows:hover{background:rgba(255,255,255,0.75)}#rev_slider_25_1 .metis.tparrows:before{color:rgb(0,0,0);   transition:all 0.3s; -webkit-transition:all 0.3s}#rev_slider_25_1 .metis.tparrows:hover:before{transform:scale(1.5)}.custom.tp-bullets{}.custom.tp-bullets:before{content:" ";position:absolute;width:100%;height:100%;background:transparent;padding:10px;margin-left:-10px;margin-top:-10px;box-sizing:content-box}.custom .tp-bullet{width:20px;height:5px;position:absolute;background:#aaa;  background:rgba(125,125,125,0.5);cursor:pointer;box-sizing:content-box}.custom .tp-bullet:hover,.custom .tp-bullet.selected{background:#000}.custom .tp-bullet-image{}.custom .tp-bullet-title{}

/*=====  End of home four  ======*/


/*=============================================
=            home five            =
=============================================*/

#rev_slider_26_1 .metis.tparrows{background:rgba(255,255,255,1); padding:10px; transition:all 0.3s; -webkit-transition:all 0.3s; width:60px; height:60px; box-sizing:border-box}#rev_slider_26_1 .metis.tparrows:hover{background:rgba(255,255,255,0.75)}#rev_slider_26_1 .metis.tparrows:before{color:rgb(0,0,0);   transition:all 0.3s; -webkit-transition:all 0.3s}#rev_slider_26_1 .metis.tparrows:hover:before{transform:scale(1.5)}.custom.tp-bullets{}.custom.tp-bullets:before{content:" ";position:absolute;width:100%;height:100%;background:transparent;padding:10px;margin-left:-10px;margin-top:-10px;box-sizing:content-box}.custom .tp-bullet{width:20px;height:5px;position:absolute;background:#aaa;  background:rgba(125,125,125,0.5);cursor:pointer;box-sizing:content-box}.custom .tp-bullet:hover,.custom .tp-bullet.selected{background:#000}.custom .tp-bullet-image{}.custom .tp-bullet-title{}

/*=====  End of home five  ======*/


/*=============================================
=            home six            =
=============================================*/

#rev_slider_27_1 .metis.tparrows{background:rgba(255,255,255,1); padding:10px; transition:all 0.3s; -webkit-transition:all 0.3s; width:60px; height:60px; box-sizing:border-box}#rev_slider_27_1 .metis.tparrows:hover{background:rgba(255,255,255,0.75)}#rev_slider_27_1 .metis.tparrows:before{color:rgb(0,0,0);   transition:all 0.3s; -webkit-transition:all 0.3s}#rev_slider_27_1 .metis.tparrows:hover:before{transform:scale(1.5)}.custom.tp-bullets{}.custom.tp-bullets:before{content:" ";position:absolute;width:100%;height:100%;background:transparent;padding:10px;margin-left:-10px;margin-top:-10px;box-sizing:content-box}.custom .tp-bullet{width:20px;height:5px;position:absolute;background:#aaa;  background:rgba(125,125,125,0.5);cursor:pointer;box-sizing:content-box}.custom .tp-bullet:hover,.custom .tp-bullet.selected{background:#000}.custom .tp-bullet-image{}.custom .tp-bullet-title{}

/*=====  End of home six  ======*/


/*=============================================
=            home eight            =
=============================================*/

#rev_slider_28_1 .metis.tparrows{background:rgba(255,255,255,1); padding:10px; transition:all 0.3s; -webkit-transition:all 0.3s; width:60px; height:60px; box-sizing:border-box}#rev_slider_28_1 .metis.tparrows:hover{background:rgba(255,255,255,0.75)}#rev_slider_28_1 .metis.tparrows:before{color:rgb(0,0,0);   transition:all 0.3s; -webkit-transition:all 0.3s}#rev_slider_28_1 .metis.tparrows:hover:before{transform:scale(1.5)}.custom.tp-bullets{}.custom.tp-bullets:before{content:" ";position:absolute;width:100%;height:100%;background:transparent;padding:10px;margin-left:-10px;margin-top:-10px;box-sizing:content-box}.custom .tp-bullet{width:20px;height:5px;position:absolute;background:#aaa;  background:rgba(125,125,125,0.5);cursor:pointer;box-sizing:content-box}.custom .tp-bullet:hover,.custom .tp-bullet.selected{background:#000}.custom .tp-bullet-image{}.custom .tp-bullet-title{}

/*=====  End of home eight  ======*/






/*=============================================
=            other settings            =
=============================================*/

/* @media only screen and (max-width: 991px){
    .custom-position--two{
        font-size: 20px !important;
    }
} */

@media only screen and (max-width: 767px){
    .custom-position--one{
        position: relative;
        left: 30px;
    }
}

@media only screen and (max-width: 575px){
    .custom-position--one{
        position: relative;
        left: 45px;
    }
}

@media only screen and (max-width: 479px){
    .custom-position--one{
        position: relative;
        left: 0;
    }
}

.custom.tp-bullets {
    z-index: 99;
}

/*=====  End of other settings  ======*/

