<div #quickViewBlock class="cd-quick-view">
    <div class="cd-slider-wrapper" *ngIf="product">
        <div class="product-badge-wrapper">
            <span *ngIf="product.discountBadgeInfo" class="onsale">{{product.discountBadgeInfo}}</span>
            <span *ngIf="product.hotBadge" class="hot">Hot</span>
        </div>
        <ul class="cd-slider">
            <li *ngFor="let img of product.images; let i = index" class="{{i === 0 ? 'selected' : ''}}">
                <img src="/v1{{img.path}}" alt="{{img.alt}}">
            </li>
            <!--            <li class="selected"><img src="/app/assets/img/products/product-9-1-600x800.jpg" alt="Product 2"></li>-->
        </ul> <!-- cd-slider -->

        <ul class="cd-slider-pagination">
            <li *ngFor="let img of product.images; let i = index" class="{{i === 0 ? 'active' : ''}}">
                <a href="#0">{{i}}</a>
            </li>
        </ul> <!-- cd-slider-pagination -->

        <ul class="cd-slider-navigation">
            <li><a class="cd-prev" href="#0"><i class="fa fa-angle-left"></i></a></li>
            <li><a class="cd-next" href="#0"><i class="fa fa-angle-right"></i></a></li>
        </ul> <!-- cd-slider-navigation -->
    </div> <!-- cd-slider-wrapper -->

    <div class="quickview-item-info cd-item-info ps-scroll" *ngIf="product">

        <h2 class="item-title">{{product.name}}</h2>
        <p class="price">
            <span class="main-price"
                  [ngClass]="{'discounted' : sizeVariantProduct.priceDiscount}">{{sizeVariantProduct.price}}</span>
            <span *ngIf="sizeVariantProduct.priceDiscount"
                  class="discounted-price">{{sizeVariantProduct.priceDiscount}}</span>
        </p>

        <p class="description">{{product.description}}</p>
        <div class="product-details-description-wrapper">
            <div class="product-color">
                <span class="product-details-title">COLOR: </span>
                <ul>
                    <li *ngFor="let color of baseProduct.variants">
                        <a [class.active]="color.uuid === product.uuid"
                           href="javascript:void(0);"
                           (click)="setDisplayStyleVariant(color)">
                        <span [style.background-color]="color.colorCssCode ? color.colorCssCode : '#a9a9a9'"
                              class="color-picker">
                        </span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="product-size" style=" display: flex; align-items: center;">
                <span class="product-details-title">SIZE: </span><span
                    *ngIf="product.variants.length == 1">{{sizeVariantProduct.size}}</span>
                <select *ngIf="product.variants.length>1" class="nice-select" #select
                        (change)='changeSizeVariant(select.value)'>
                    <option *ngFor="let size of product.variants"
                            [selected]="size.uuid == sizeVariantProduct.uuid"
                            [value]="size.code">{{size.size}}</option>
                </select>

            </div>
        </div>

        <div class="pro-qty d-inline-block">
            <a href="javascript:void(0)" (click)="qty > 1 ? qty = qty-1 : qty" class= "dec qty-btn"><i class="pe-7s-less"></i></a>
            <input type="text" [(ngModel)]="qty" >
            <a href="javascript:void(0)" (click)="qty = qty+1"  class="inc qty-btn"><i class="pe-7s-plus"></i></a>

        </div>

        <div class="add-to-cart-btn d-inline-block">
            <a (click)="addToCart()" class="theme-button theme-button--alt">ADD TO CART</a>
        </div>

        <div class="quick-view-other-info">
            <div class="other-info-links">
                <a href="javascript:void(0)"><i class="fa fa-heart-o"></i> ADD TO WISHLIST</a>
                <a href="javascript:void(0)"><i class="fa fa-exchange"></i> COMPARE</a>
            </div>
            <table>
                <tr class="single-info">
                    <td class="quickview-title">SKU:</td>
                    <td class="quickview-value">{{sizeVariantProduct.code}}</td>
                </tr>
                <tr class="single-info">
                    <td class="quickview-title">Tags:</td>
                    <td class="quickview-value">
                        <a href="#">Decor</a>,
                        <a href="#">Light</a>
                    </td>
                </tr>
                <tr class="single-info">
                    <td class="quickview-title">Share on:</td>
                    <td class="quickview-value">
                        <ul class="quickview-social-icons">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>


    </div> <!-- cd-item-info -->
    <a *ngIf="product" href="#0" class="cd-close">Close</a>
</div>