<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
  <absolute-ordering />

  <display-name>/cshop</display-name>

  <!--
   We have to explicitly clear the welcome file list.
   We don't need to serve a default or index page as we can handle all the requests via spring MVC.
  -->
  <welcome-file-list>
    <welcome-file/>
  </welcome-file-list>


  <!-- config -->
  <context-param>
    <description>
      The 'contextConfigLocation' param specifies where your configuration files are located.
      The 'config/spring/*' file includes several other XML config
      files to build up the configuration for the application.
    </description>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:config/spring/cshop-module-spring.xml</param-value>
  </context-param>
  <context-param>
    <param-name>tagpoolMaxSize</param-name>
    <param-value>50</param-value>
  </context-param>

  <!-- Session -->

  <session-config>
    <!-- Session timeout of 30 minutes -->
    <session-timeout>30</session-timeout>
    <cookie-config>
      <http-only>false</http-only>
      <secure>false</secure>
    </cookie-config>
  </session-config>


  <!-- JSP Configuration -->

<!--  <jsp-config>-->
<!--    <jsp-property-group>-->
<!--      <url-pattern>*.jsp</url-pattern>-->
<!--      &lt;!&ndash; Disable JSP scriptlets and expressions &ndash;&gt;-->
<!--      <scripting-invalid>true</scripting-invalid>-->
<!--      &lt;!&ndash; Remove additional whitespace due to JSP directives &ndash;&gt;-->
<!--      <trim-directive-whitespaces>true</trim-directive-whitespaces>-->
<!--    </jsp-property-group>-->
<!--  </jsp-config>-->

</web-app>
