
/*=============================================
=            brand            =
=============================================*/

.featured-brand-wrapper{
    margin-bottom: -30px;
    .single-brand{
        margin-bottom: 30px;
    }
}


.single-brand{
    text-align: center;
    a{
        display: block;
        width: 100%;
    }
}

/*=====  End of brand  ======*/

