<!--====================  breadcrumb area ====================-->

<div class="breadcrumb-area section-space--breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <!--=======  breadcrumb wrapper  =======-->

                <div class="breadcrumb-wrapper" *ngIf="!showSkeleton">
                    <ul class="breadcrumb-list">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="shop-left-sidebar.html">Shop</a></li>
                        <li class="active">Shop product</li>
                    </ul>
                </div>
                <div class="breadcrumb-wrapper" *ngIf="showSkeleton">
                    <ngx-skeleton-loader count="1"></ngx-skeleton-loader>
                </div>
                <!--=======  End of breadcrumb wrapper  =======-->
            </div>
        </div>
    </div>
</div>

<!--====================  End of breadcrumb area  ====================-->

<!--====================  page content wrapper ====================-->

<div class="page-content-wrapper">
    <!--=======  single product slider details area  =======-->

    <div class="single-product-slider-details-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <!--=======  product details slider area  =======-->

                    <div class="product-details-slider-area product-details-slider-area--side-move"
                         [hidden]="showSkeleton">

                        <div class="product-badge-wrapper" *ngIf="productDetailVariant">
                            <span *ngIf="productDetailVariant.discountBadgeInfo"
                                  class="onsale">{{productDetailVariant.discountBadgeInfo}}</span>
                            <span *ngIf="productDetailVariant.hotBadge" class="hot">Hot</span>
                        </div>

                        <ng-container #imageContainer></ng-container>

                    </div>
                    <div class="product-details-slider-area product-details-slider-area--side-move"
                         *ngIf="showSkeleton">
                        <ngx-skeleton-loader [count]="1"
                                             [theme]="{
                                             'height': '567px',
                                             'border-radius': '2px'
                                             }"></ngx-skeleton-loader>

                    </div>

                    <!--=======  End of product details slider area  =======-->
                </div>
                <div class="col-lg-6" *ngIf="!showSkeleton && productDetailVariant">
                    <!--=======  product details description area  =======-->

                    <div class="product-details-description-wrapper">
                        <h2 class="item-title">{{productDetail.name}}</h2>
                        <h4>{{productStyleVariant.name}}</h4>
                        <h5>{{productDetailVariant.name}}</h5>
                        <p class="price" *ngIf="productDetailVariant">
                            <span class="main-price"
                                  [ngClass]="{'discounted' : productDetailVariant.priceDiscount}">{{productDetailVariant.price}}</span>
                            <span *ngIf="productDetailVariant.priceDiscount"
                                  class="discounted-price">{{productDetailVariant.priceDiscount}}</span>
                        </p>

                        <p class="description" [innerHTML]="productDetail.description" ></p>

                        <div class="product-color" *ngIf="productDetailVariant">
                            <span class="product-details-title">COLOR: </span>
                            <ul>
                                <li *ngFor="let color of productDetail.variants">
                                    <a [class.active]="color.uuid === productStyleVariant.uuid"
                                       href="javascript:void(0);"
                                       (click)="changeColorVariant(color)">
                                        <span [style.background-color]="color.colorCssCode ? color.colorCssCode : '#a9a9a9'"
                                              class="color-picker">
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="product-size" *ngIf="productStyleVariant ">
                            <span class="product-details-title">SIZE: </span><span
                                *ngIf="productStyleVariant.variants.length == 1">{{productDetailVariant.size}}</span>
                            <select *ngIf="productStyleVariant.variants.length>1" class="nice-select" #select
                                    (change)='changeSizeVariant(select.value)'>
                                <option *ngFor="let size of productStyleVariant.variants"
                                        [selected]="size.uuid == productDetailVariant.uuid"
                                        [value]="size.code">{{size.size}}</option>
                            </select>

                        </div>

                        <div class="pro-qty d-inline-block">
                            <a href="javascript:void(0)" (click)="qty > 1 ? qty = qty-1 : qty" class="dec qty-btn"><i
                                    class="pe-7s-less"></i></a>
                            <input type="text" [(ngModel)]="qty">
                            <a href="javascript:void(0)" (click)="qty = qty+1" class="inc qty-btn"><i
                                    class="pe-7s-plus"></i></a>
                        </div>

                        <div class="add-to-cart-btn d-inline-block">
                            <button (click)="addToCart()" class="theme-button theme-button--alt">ADD TO CART</button>
                        </div>

                        <div class="quick-view-other-info">
                            <div class="other-info-links">
                                <a href="javascript:void(0)"><i class="fa fa-heart-o"></i> ADD TO WISHLIST</a>
                                <a href="javascript:void(0)"><i class="fa fa-exchange"></i> COMPARE</a>
                            </div>

                            <div class="product-brand">
                                <a href="shop-left-sidebar.html">
                                    <img src="/app/assets/img/brands/brand-2.png" class="img-fluid" alt="">
                                </a>
                            </div>

                            <table>
                                <!--                                <tr class="single-info">-->
                                <!--                                    <td class="quickview-title">Brand:</td>-->
                                <!--                                    <td class="quickview-value">BELLE NETWORK</td>-->
                                <!--                                </tr>-->
                                <tr class="single-info">
                                    <td class="quickview-title">SKU:</td>
                                    <td class="quickview-value">{{productDetailVariant.code}}</td>
                                </tr>
                                <!--                                <tr class="single-info">-->
                                <!--                                    <td class="quickview-title">Tags:</td>-->
                                <!--                                    <td class="quickview-value">-->
                                <!--                                        <a href="#">Decor</a>,-->
                                <!--                                        <a href="#">Light</a>-->
                                <!--                                    </td>-->
                                <!--                                </tr>-->
                                <!--                                <tr class="single-info">-->
                                <!--                                    <td class="quickview-title">Share on:</td>-->
                                <!--                                    <td class="quickview-value">-->
                                <!--                                        <ul class="quickview-social-icons">-->
                                <!--                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>-->
                                <!--                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>-->
                                <!--                                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>-->
                                <!--                                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>-->
                                <!--                                        </ul>-->
                                <!--                                    </td>-->
                                <!--                                </tr>-->
                            </table>
                        </div>
                    </div>

                    <!--=======  End of product details description area  =======-->
                </div>
                <div class="col-lg-6" *ngIf="showSkeleton">
                    <!--=======  product details description area  =======-->

                    <div class="product-details-description-wrapper">
                        <h2 class="item-title">
                            <ngx-skeleton-loader count="1"
                                                 [theme]="{
                                             'width': '255px', 'height': '40px'
                                             }"></ngx-skeleton-loader>
                        </h2>
                        <p class="price">
                            <span class="main-price">
                                <ngx-skeleton-loader count="1"
                                                     [theme]="{
                                             'width': '55px', 'height': '30px'
                                             }"></ngx-skeleton-loader>
                            </span>
                        </p>

                        <p class="description">
                            <ngx-skeleton-loader count="3"></ngx-skeleton-loader>
                        </p>

                        <div class="product-color">
                            <ngx-skeleton-loader count="3"
                                                 appearance="circle"
                                                 [theme]="{
                                             'width': '17px', 'height': '17px', 'margin': '0 5px 3px 0'
                                             }"></ngx-skeleton-loader>
                        </div>

                        <div class="product-size">
                            <ngx-skeleton-loader count="1"
                                                 [theme]="{
                                             'width': '95px', 'height': '35px'
                                             }"></ngx-skeleton-loader>
                        </div>

                        <div class="pro-qty d-inline-block">
                            <ngx-skeleton-loader [count]="1"
                                                 [theme]="{
                                             'width': '95px', 'height': '35px'
                                             }"></ngx-skeleton-loader>
                        </div>

                        <div class="add-to-cart-btn d-inline-block">
                            <ngx-skeleton-loader [count]="1"
                                                 [theme]="{
                                             'width': '155px', 'height': '45px'
                                             }"></ngx-skeleton-loader>
                        </div>

                    </div>

                    <!--=======  End of product details description area  =======-->
                </div>
            </div>
        </div>
    </div>

    <!--=======  End of single product slider details area  =======-->

    <!--=======  single product description tab area  =======-->

    <div class="single-product-description-tab-area section-space" *ngIf="!showSkeleton">
        <!--=======  description tab navigation  =======-->

        <div class="description-tab-navigation">
            <div class="nav nav-tabs justify-content-center" id="nav-tab2" role="tablist">
                <a class="nav-item nav-link active" id="description-tab" data-toggle="tab" href="#product-description"
                   role="tab" aria-selected="true">DESCRIPTION</a>
                <a class="nav-item nav-link" id="additional-info-tab" data-toggle="tab" href="#product-additional-info"
                   role="tab" aria-selected="false">ADDITIONAL INFORMATION</a>
                <a class="nav-item nav-link" id="review-tab" data-toggle="tab" href="#product-review" role="tab"
                   aria-selected="false">REVIEWS (3)</a>
            </div>
        </div>

        <!--=======  End of description tab navigation  =======-->

        <!--=======  description tab content  =======-->


        <div class="single-product-description-tab-content" *ngIf="productDetail">

            <div class="tab-content">

                <div class="tab-pane fade show active" id="product-description" role="tabpanel"
                     aria-labelledby="description-tab">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <!--=======  description content  =======-->

                                <div class="description-content">
                                    <p class="long-desc" [innerHTML]="productDetail.description" ></p>

                                    <p><b>Light source: Integrated LED (non-replaceable) with 30,000 hour life span.</b>
                                    </p>
                                    <p><b>Specification: EU 220-Volts</b></p>
                                    <p><b>Ceiling rose: White – included</b></p>
                                    <p><b>Cable: 3 metre adjustable textile cord.</b></p>
                                    <p><b>Approximate net product weight: 2.6kg</b></p>
                                    <p><b>This product is hardwired – professional installation recommended.</b></p>
                                </div>

                                <!--=======  End of description content  =======-->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="product-additional-info" role="tabpanel"
                     aria-labelledby="additional-info-tab">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <!--=======  additional info content  =======-->

                                <div class="additional-info-content">
                                    <table class="additional-info-table">
                                        <tbody>
                                        <tr>
                                            <th>Dimensions</th>
                                            <td class="product_dimensions">300 x 24 x 32 cm</td>
                                        </tr>

                                        <tr>
                                            <th>color</th>
                                            <td>
                                                <p>Black, Lavender Grey, Pink, White</p>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <!--=======  End of additional info content  =======-->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="product-review" role="tabpanel" aria-labelledby="review-tab">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <!--=======  review content  =======-->

                                <div class="review-content-wrapper">
                                    <!--=======  review comments  =======-->

                                    <div class="review-comments">

                                        <h4 class="review-comment-title">6 REVIEWS FOR OLIVIA SHAYN COVER CHAIR</h4>

                                        <!--=======  single-review comment  =======-->

                                        <div class="single-review-comment">
                                            <div class="single-review-comment__image">
                                                <img src="/app/assets/img/review/one.png" class="img-fluid" alt="">
                                            </div>

                                            <div class="single-review-comment__content">
                                                <div class="review-time"><i class="fa fa-calendar"></i> June 7, 2019
                                                </div>
                                                <div class="rating">
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star active"></i>
                                                </div>

                                                <p class="review-text">Lorem, ipsum dolor sit amet consectetur
                                                    adipisicing elit. Fuga, in.
                                                </p>
                                            </div>
                                        </div>

                                        <!--=======  End of single-review comment  =======-->

                                        <!--=======  single-review comment  =======-->

                                        <div class="single-review-comment">
                                            <div class="single-review-comment__image">
                                                <img src="/app/assets/img/review/two.jpeg" class="img-fluid" alt="">
                                            </div>

                                            <div class="single-review-comment__content">
                                                <div class="review-time"><i class="fa fa-calendar"></i> June 8, 2019
                                                </div>
                                                <div class="rating">
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star active"></i>
                                                </div>

                                                <p class="review-text">Lorem, ipsum dolor sit amet consectetur
                                                    adipisicing elit. Fuga, in.
                                                </p>
                                            </div>
                                        </div>

                                        <!--=======  End of single-review comment  =======-->

                                        <!--=======  single-review comment  =======-->

                                        <div class="single-review-comment">
                                            <div class="single-review-comment__image">
                                                <img src="/app/assets/img/review/three.jpeg" class="img-fluid" alt="">
                                            </div>

                                            <div class="single-review-comment__content">
                                                <div class="review-time"><i class="fa fa-calendar"></i> June 9, 2019
                                                </div>
                                                <div class="rating">
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star active"></i>
                                                </div>

                                                <p class="review-text">Lorem, ipsum dolor sit amet consectetur
                                                    adipisicing elit. Fuga, in.
                                                </p>
                                            </div>
                                        </div>

                                        <!--=======  End of single-review comment  =======-->


                                    </div>

                                    <!--=======  End of review comments  =======-->

                                    <!--=======  review comment form  =======-->

                                    <div class="review-comment-form">
                                        <h4 class="review-comment-title">Add a review</h4>
                                        <p class="review-comment-subtitle">Your email address will not be published.
                                            Required fields are marked *</p>

                                        <form action="#">
                                            <div class="form-group">
                                                <label for="reviewerName">Name <span>*</span> </label>
                                                <input type="text" id="reviewerName" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="reviewerEmail">Email <span>*</span> </label>
                                                <input type="email" id="reviewerEmail" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="reviewRating" class="d-inline-block mb-0">Your
                                                    rating</label>
                                                <div class="rating d-inline-block" id="reviewRating">
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star active"></i>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="reviewComment">Your review <span>*</span></label>
                                                <textarea name="reviewComment" id="reviewComment" cols="30"
                                                          rows="10"></textarea>
                                            </div>

                                            <button type="submit" class="theme-button">SUBMIT</button>
                                        </form>
                                    </div>

                                    <!--=======  End of review comment form  =======-->
                                </div>

                                <!--=======  End of review content  =======-->
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>

        <!--=======  End of description tab content  =======-->

    </div>


</div>

<!--====================  End of page content wrapper  ====================-->
