<!--====================  breadcrumb area ====================-->

<div class="breadcrumb-area section-space--breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <!--=======  breadcrumb wrapper  =======-->

                <div class="breadcrumb-wrapper">
                    <ul class="breadcrumb-list">
                        <li><a routerLink="/">Home</a></li>
                        <li class="active">Checkout</li>
                    </ul>
                </div>

                <!--=======  End of breadcrumb wrapper  =======-->
            </div>
        </div>
    </div>
</div>

<!--====================  End of breadcrumb area  ====================-->

<!--====================  page content wrapper ====================-->

<div class="page-content-wrapper">
    <!--=======  checkout page wrapper  =======-->

    <div class="checkout-page-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="checkout-form">
                        <!-- Checkout Form s-->

                        <div class="row row-40">

                            <div class="col-lg-7 mb-5" *ngIf="cart">

                                <app-delivery-service-selector [cart]="cart"></app-delivery-service-selector>

                            </div>

                            <div class="col-lg-5">
                                <div class="row">

                                    <!-- Cart Total -->
                                    <div class="col-12">

                                        <h4 class="checkout-title">Cart Total</h4>

                                        <div class="checkout-cart-total" *ngIf="cart">

                                            <h4>Product <span>Total</span></h4>

                                            <ul >
                                                <li *ngFor="let entry of cart.entries">{{entry.product.name}}
                                                    X {{entry.quantity}} <span>{{entry.price}}</span></li>
                                            </ul>

                                            <!--                                                <p>Sub Total <span>{{cart.total}}</span></p>-->
                                            <!--                                                <p>Shipping Fee <span>$00.00</span></p>-->

                                            <h4>Order Total <span>{{cart.total}}</span></h4>

                                        </div>

                                    </div>

                                    <!-- Payment Method -->
                                    <div class="col-12">

                                        <h4 class="checkout-title">Payment Method</h4>

                                        <div class="checkout-payment-method">

                                            <div class="single-method">
                                                <input type="radio" id="payment_check" name="payment-method"
                                                       value="check">
                                                <label for="payment_check">Check Payment</label>
                                                <p data-method="check">Please send a Check to Store name with Store
                                                    Street, Store Town, Store State, Store Postcode, Store Country.</p>
                                            </div>

                                            <div class="single-method">
                                                <input type="radio" id="payment_bank" name="payment-method"
                                                       value="bank">
                                                <label for="payment_bank">Direct Bank Transfer</label>
                                                <p data-method="bank">Please send a Check to Store name with Store
                                                    Street, Store Town, Store State, Store Postcode, Store Country.</p>
                                            </div>

                                            <div class="single-method">
                                                <input type="radio" id="payment_cash" name="payment-method"
                                                       value="cash">
                                                <label for="payment_cash">Cash on Delivery</label>
                                                <p data-method="cash">Please send a Check to Store name with Store
                                                    Street, Store Town, Store State, Store Postcode, Store Country.</p>
                                            </div>

                                            <div class="single-method">
                                                <input type="radio" id="payment_paypal" name="payment-method"
                                                       value="paypal">
                                                <label for="payment_paypal">Paypal</label>
                                                <p data-method="paypal">Please send a Check to Store name with Store
                                                    Street, Store Town, Store State, Store Postcode, Store Country.</p>
                                            </div>

                                            <div class="single-method">
                                                <input type="radio" id="payment_payoneer" name="payment-method"
                                                       value="payoneer">
                                                <label for="payment_payoneer">Payoneer</label>
                                                <p data-method="payoneer">Please send a Check to Store name with Store
                                                    Street, Store Town, Store State, Store Postcode, Store Country.</p>
                                            </div>

                                            <div class="single-method">
                                                <input type="checkbox" id="accept_terms">
                                                <label for="accept_terms">I’ve read and accept the terms &
                                                    conditions</label>
                                            </div>

                                        </div>

                                        <button (click)="placeOrder()" class="theme-button place-order-btn">PLACE ORDER</button>

                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--=======  End of checkout page wrapper  =======-->
</div>

<!--====================  End of page content wrapper  ====================-->