<!--====================  breadcrumb area ====================-->

<div class="breadcrumb-area section-space--breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <!--=======  breadcrumb wrapper  =======-->

                <div class="breadcrumb-wrapper">
                    <ul class="breadcrumb-list">
                        <li><a routerLink="/">Home</a></li>
                        <li class="active">Checkout</li>
                    </ul>
                </div>

                <!--=======  End of breadcrumb wrapper  =======-->
            </div>
        </div>
    </div>
</div>

<!--====================  End of breadcrumb area  ====================-->

<!--====================  page content wrapper ====================-->

<div class="page-content-wrapper">
    <!--=======  checkout page wrapper  =======-->

    <div class="checkout-page-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="checkout-form">
                        <!-- Checkout Form s-->

                        <div class="row row-40">

                            <div class="col-lg-7 mb-5" *ngIf="cart">

                                <app-delivery-service-selector [cart]="cart"></app-delivery-service-selector>

                            </div>

                            <div class="col-lg-5">
                                <div class="row">

                                    <!-- Cart Total -->
                                    <div class="col-12">

                                        <h4 class="checkout-title">Cart Total</h4>

                                        <div class="checkout-cart-total" *ngIf="cart">

                                            <h4>Product <span>Total</span></h4>

                                            <ul >
                                                <li *ngFor="let entry of cart.entries">{{entry.product.name}}
                                                    X {{entry.quantity}} <span>{{entry.price}}</span></li>
                                            </ul>

                                            <!--                                                <p>Sub Total <span>{{cart.total}}</span></p>-->
                                            <!--                                                <p>Shipping Fee <span>$00.00</span></p>-->

                                            <h4>Order Total <span>{{cart.total}}</span></h4>

                                        </div>

                                    </div>

                                    <!-- Payment Method -->
                                    <div class="col-12">

                                        <app-payment-selector [cart]="cart"></app-payment-selector>
                                        <div class="single-method">
                                            <input type="checkbox" id="accept_terms">
                                            <label for="accept_terms">I’ve read and accept the terms &
                                                conditions</label>
                                        </div>

                                        <button (click)="placeOrder()"
                                                [disabled]="loading"
                                                class="theme-button place-order-btn">
                                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                            PLACE ORDER
                                        </button>

                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--=======  End of checkout page wrapper  =======-->
</div>

<!--====================  End of page content wrapper  ====================-->