<div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="login-form">
            <h4 class="login-title">{{'form.register.title' | translate}}</h4>

            <div class="row">
                <div class="col-md-6 col-6 mb-2">
                    <label for="firstName">{{'form.register.fields.firstName' | translate}}</label>
                    <input id="firstName" formControlName="firstName"
                           type="text" placeholder="{{'form.register.fields.firstName' | translate}}"
                           [ngClass]="{'invalid': submitted && f.firstName.errors }">
                    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback d-block">
                        <div *ngIf="f.firstName.errors.required">{{'form.register.errors.firstName.required' | translate}}</div>
                    </div>
                </div>
                <div class="col-md-6 col-6 mb-2">
                    <label for="lastName">{{'form.register.fields.lastName' | translate}}</label>
                    <input id="lastName" formControlName="lastName"
                           type="text" placeholder="{{'form.register.fields.lastName' | translate}}"
                           [ngClass]="{'invalid': submitted && f.lastName.errors }">
                    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback d-block">
                        <div *ngIf="f.lastName.errors.required">{{'form.register.errors.lastName.required' | translate}}</div>
                    </div>
                </div>
                <div class="col-md-6 col-6 mb-2">
                    <label for="email">{{'form.register.fields.email' | translate}}</label>
                    <input id="email" formControlName="email"
                           type="email" placeholder="{{'form.register.fields.email' | translate}}"
                           [ngClass]="{'invalid': submitted && f.email.errors }">
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback d-block">
                        <div *ngIf="f.email.errors.required">{{'form.register.errors.email.required' | translate}}</div>
                    </div>
                </div>
                <hr class="col-11 mb-2">
                <div class="col-md-6 col-6 mb-2">
                    <label for="password">{{'form.register.fields.password' | translate}}</label>
                    <input id="password" formControlName="password"
                           type="password" placeholder="{{'form.register.fields.password' | translate}}"
                           [ngClass]="{'invalid': submitted && f.password.errors }">
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback d-block">
                        <div *ngIf="f.password.errors.required">{{'form.register.errors.password.required' | translate}}</div>
                        <div *ngIf="f.password.errors.minlength">{{'form.register.errors.password.minlength' | translate:{'count':f.password.errors.minlength.requiredLength} }}</div>
                    </div>
                </div>
                <div class="col-md-6 col-6 mb-2">
                    <label for="confirmPassword">{{'form.register.fields.confirmPassword' | translate}}</label>
                    <input id="confirmPassword" formControlName="confirmPassword"
                           type="password" placeholder="{{'form.register.fields.confirmPassword' | translate}}"
                           appEqualValidator="password"
                           [ngClass]="{'invalid': submitted && f.confirmPassword.errors }">
                    <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback d-block">
                        <div *ngIf="f.confirmPassword.errors.required">{{'form.register.errors.confirmPassword.required' | translate}}</div>
                        <div *ngIf="f.confirmPassword.errors.notEqual">{{'form.register.errors.confirmPassword.notEqual' | translate}}</div>
                    </div>
                </div>
                <div class="col-12 mb-2">
                    <button [disabled]="loading" class="theme-button">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        {{'form.register.button' | translate}}
                    </button>
                    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error | translate}}</div>
                </div>
            </div>
        </div>

    </form>
</div>