<!--=======  shop sidebar wrapper  =======-->

<div class="shop-sidebar-wrapper">


    <!--=======  single sidebar widget  =======-->

    <!--    <div class="single-sidebar-widget">-->
    <!--        <h2 class="single-sidebar-widget__title">Filter By Price</h2>-->
    <!--        <div class="sidebar-price">-->
    <!--            <div id="price-range"></div>-->
    <!--            <div class="output-wrapper">-->
    <!--                <input type="text" id="price-amount" class="price-amount" readonly>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->

    <!--=======  End of single sidebar widget  =======-->

    <!--=======  single sidebar widget  =======-->

    <div class="single-sidebar-widget" *ngFor="let facet of searchResult.facets">
        <h2 class="single-sidebar-widget__title"
            >{{'facet.group.' + facet.title | translate}}</h2>
        <ul class="single-sidebar-widget__dropdown" id="single-sidebar-widget__dropdown"
            >
            <li *ngFor="let fValue of facet.values">
                <a *ngIf="fValue.count>0"
                   [style.color]="facets.has(facet.title) && facets.get(facet.title).includes(fValue.name) ? '#fab200' : null"
                   (click)="facets.has(facet.title) && facets.get(facet.title).includes(fValue.name, 0) ?
                   removeFacetEvent.emit({name: facet.title, value: fValue.name}) :
                   addFacetEvent.emit({name: facet.title, value: fValue.name})"
                   href="javascript:void(0)">
                    {{fValue.name}}
                </a>
                <a *ngIf="facets.has(facet.title) && facets.get(facet.title).includes(fValue.name, 0)"
                   href="javascript:void(0)"
                   class="close-icon" (click)="removeFacetEvent.emit({name: facet.title, value: fValue.name})">
                    <i class="pe-7s-close"></i>
                </a>
            </li>
        </ul>
    </div>

</div>

<!--=======  End of shop sidebar wrapper  =======-->