<div #headerSticky (scroll)="scrollHandler($event)"
     class="header-area header-area--default header-area--default--white header-sticky">

    <!--=======  header navigation top  =======-->

    <div class="header-navigation-top">
        <div class="container wide">
            <div class="row align-items-center">
                <div class="col-lg-8 col-md-12">
                    <div class="header-top-content-wrapper justify-content-center justify-content-lg-start">

                        <app-language-selector></app-language-selector>

                        <!--                        <app-currency-selector></app-currency-selector>-->

                        <div class="header-contact-info-wrapper d-none d-lg-block">
                            <ul class="header-contact-info__list">
                                <li>
                                    <i class="pe-7s-phone"></i>
                                    <a href="tel:{{store?.phone}}">{{store?.phone}}</a>
                                </li>
                                <li>
                                    <i class="pe-7s-mail-open"></i>
                                    <a href="mailto:{{store?.storeEmail}}">{{store?.storeEmail}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 d-none d-lg-block">
                    <div class="header-top-content-wrapper justify-content-end">

                        <div class="header-top-dropdown border-right-0 ">
                            <em *ngIf="!isLoggedIn()" style="font-style: normal">
                                <a routerLink="/login"
                                   routerLinkActive="active">{{'button.login' | translate}}</a>/<a
                                    routerLink="/register"
                                    routerLinkActive="active">{{'button.register' | translate}}</a> </em>
                            <a *ngIf="isLoggedIn()" href="#" onclick="return false;">Hello {{currentUser.firstName}}<i
                                    class="pe-7s-angle-down"></i></a>
                            <ul *ngIf="isLoggedIn()" class="header-top-dropdown__list">
                                <li>
                                    <a routerLink="/account"
                                       routerLinkActive="active">{{'button.my_account' | translate}}</a>
                                </li>
                                <!--                                <li><a href="cart.html">{{'button.shopping_cart' | translate}}</a></li>-->
                                <!--                                <li><a href="checkout.html">{{'button.checkout' | translate}}</a></li>-->
                                <li>
                                    <a href="order-tracking.html">{{'button.order_tracking' | translate}}</a>
                                </li>

                                <li>
                                    <a href="javascript:void(0);" (click)="logout()">{{'button.logout' | translate}}</a>
                                </li>
                            </ul>
                        </div>

                        <!--                        <div class="header-contact-info-wrapper">-->
                        <!--                            <ul class="header-contact-info__list">-->
                        <!--                                <li><i class="fa fa-envelope-o"></i> <a href="#">Newsletter Signup</a></li>-->
                        <!--                            </ul>-->
                        <!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--=======  End of header navigation top  =======-->

    <!--=======  header navigation wrapper  =======-->

    <div class="header-navigation-area header-navigation-area--white header-navigation-area--extra-space d-none d-lg-block">
        <div class="container wide">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header-info-wrapper header-info-wrapper--alt-style">
                        <div class="header-logo">
                            <a routerLink="">
                                <h2>{{store?.name}}</h2>
                            </a>
                        </div>

                        <div class="header-navigation-wrapper">
                            <app-navigation-menu></app-navigation-menu>
                        </div>

                        <div class="header-icon-area">
                            <div class="header-icon d-flex align-items-center">
                                <ul class="header-icon__list">
                                    <li>
                                        <a href="javascript:void(0)" id="search-icon">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <app-wishlist></app-wishlist>
                                    </li>
                                    <li>
                                        <app-mini-cart></app-mini-cart>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--=======  End of header navigation wrapper  =======-->

    <!--=======  mobile navigation area  =======-->

    <div class="header-mobile-navigation d-block d-lg-none">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-6 col-md-6">
                    <div class="header-logo">
                        <a routerLink="\">
                            <h3>{{store?.name}}</h3>
                        </a>
                    </div>
                </div>
                <div class="col-6 col-md-6">
                    <div class="mobile-navigation text-right">
                        <ul class="header-icon__list header-icon__list">
                            <li>
                                <app-wishlist></app-wishlist>
                            </li>
                            <li>
                                <app-mini-cart></app-mini-cart>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="mobile-menu-icon" (click)="toggleMobileMenu()">
                                    <i class="fa fa-bars"></i>
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--=======  End of mobile navigation area  =======-->
</div>