<!--=======  shop content wrapper  =======-->

<div class="shop-content-wrapper">

    <!--=======  shop header wrapper  =======-->

    <div class="shop-header">
        <div class="row align-items-center">
            <div class="col-sm-6 col-12">
                <!--=======  header left content  =======-->
                <div class="shop-header__left" *ngIf="!showSkeleton">
                    <p class="result-text d-inline-block mb-0">{{'list.showing' | translate:{
                        'start': (searchResult.page * searchResult.count) + 1,
                        'count': (searchResult.page * searchResult.count) + searchResult.products.length,
                        'totalCount': searchResult.totalCount
                    } }}</p>
                    <div class="view-mode-icons d-inline-block">
                        <a href="javascript:void(0)"
                           [ngClass]="{'active' : viewMode === 'grid'}"
                           (click)="setViewMode('grid')"><i class="fa fa-th"></i></a>
                        <a href="javascript:void(0)"
                           [ngClass]="{'active' : viewMode === 'list'}"
                           (click)="setViewMode('list')"><i
                                class="fa fa-list"></i></a>
                    </div>
                </div>

                <div class="shop-header__left" *ngIf="showSkeleton">
                    <p class="result-text d-inline-block mb-0">
                        <ngx-skeleton-loader [count]="1"
                                             [theme]="{'width': '175px', 'border-radius': '0px', 'height': '20px', 'margin': '0 0 3px 0'}">
                        </ngx-skeleton-loader>
                    </p>
                    <div class="view-mode-icons d-inline-block">
                        <ngx-skeleton-loader [count]="2"
                                             [theme]="{'width': '30px', 'height': '30px', 'border-radius': '2px', 'margin': '0 5px 2px 0'}"></ngx-skeleton-loader>
                    </div>
                </div>

                <!--=======  End of header left content  =======-->
            </div>

            <div class="col-sm-6 col-12">

                <!--=======  header right content  =======-->

                <div class="shop-header__right d-flex justify-content-start justify-content-sm-end align-items-center">
                    <div class="grid-view-changer" #gridViewChanger *ngIf="viewMode === 'grid' && !showSkeleton">
                        <a href="javascript:void(0)"
                           (click)="triggerGridChanger()"
                           #gridViewChangeTrigger>
                            <i class="fa fa-eye"></i>
                        </a>
                        <div class="grid-view-changer__menu" id="grid-view-changer__menu">
                            <a href="javascript:void(0)"
                               [ngClass]="{'active' : gridColumns === c.columns}"
                               *ngFor="let c of gridMap"
                               (click)="setGridColumns(c.columns)">{{c.columns}}</a>
                            <a href="javascript:void(0)"
                               (click)="triggerGridChanger()"><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                    <div class="grid-view-changer" *ngIf="viewMode === 'grid' && showSkeleton">
                        <ngx-skeleton-loader [count]="1"
                                             [theme]="{
                                             'width': '30px', 'height': '30px',
                                             'border-radius': '2px', 'margin': '0 5px 2px 0'
                                             }"></ngx-skeleton-loader>
                    </div>

                    <div class="sort-by-dropdown" *ngIf="!showSkeleton">
                        <select name="sort-by" id="sort-by" class="nice-select" #select
                                (change)='changeSortingVariant(select.value)'>
                            <option *ngFor="let s of sorts"
                                    [selected]="s == sort"
                                    [value]="s">{{'sort.variant.' + s.replace(":", ".") | translate}}</option>
                        </select>
                    </div>

                    <div class="sort-by-dropdown" *ngIf="showSkeleton">
                        <ngx-skeleton-loader [count]="1"
                                             [theme]="{'width': '210px', 'border-radius': '2px', 'height': '25px', 'margin': '0 5px 2px 0'}">
                        </ngx-skeleton-loader>
                    </div>
                </div>

                <!--=======  End of header right content  =======-->

            </div>
        </div>
    </div>

    <!--=======  End of shop header wrapper  =======-->

    <!--=======  shop product wrapper  =======-->

    <div class="shop-product-wrap shop-product-wrap--with-sidebar row {{viewMode}} {{gridClassName}}"
         *ngIf="!showSkeleton">

        <app-product-collection-item *ngFor="let product of searchResult.products"
                                     [itemView]="viewMode"
                                     [columnsClass]="columnsClass"
                                     [product]="product"
                                     class="col-md-6 col-sm-6 col-12">
        </app-product-collection-item>
    </div>

    <div class="shop-product-wrap shop-product-wrap--with-sidebar row {{viewMode}} {{gridClassName}}"
         *ngIf="showSkeleton">
        <app-skeleton-product-collection-item [itemView]="viewMode" *ngFor="let i of [].constructor(12)"
                                              [columnsClass]="columnsClass"
                                              class="col-md-6 col-sm-6 col-12">

        </app-skeleton-product-collection-item>
    </div>

    <!--=======  End of shop product wrapper  =======-->

    <!--=======  pagination wrapper  =======-->
    <div class="pagination-wrapper" *ngIf="!showSkeleton && searchResult.totalPages>1">
        <app-pagination [totalPages]="searchResult.totalPages" [currentPage]="searchResult.page">

        </app-pagination>
    </div>
    <div class="pagination-wrapper d-flex justify-content-center" *ngIf="showSkeleton">
        <ngx-skeleton-loader [count]="5"
                             [theme]="{
                                             'width': '34px', 'height': '34px',
                                             'border-radius': '5px', 'margin-right': '5px'
                                             }"></ngx-skeleton-loader>
    </div>


    <!--=======  End of pagination wrapper  =======-->

</div>

<!--=======  End of shop content wrapper  =======-->