<!--=======  grid view product  =======-->

<div *ngIf="itemView === 'grid' " class="single-grid-product">
    <div class="single-grid-product__image">
        <div class="product-badge-wrapper">
            <span *ngIf="displaySizeVariant.discountBadgeInfo"
                  class="onsale">{{displaySizeVariant.discountBadgeInfo}}</span>
            <span *ngIf="displaySizeVariant.hotBadge" class="hot">Hot</span>
        </div>
        <a routerLink="/product/{{product.code}}/v/{{displaySizeVariant.code}}" class="image-wrap" #imageWrapper>
            <img *ngFor="let img of displayStyleVariant.images | slice:0:2; let i=index"
                 [hidden]="imageLoader"
                 [src]="'/v1'+img.path"
                 (load)="imageLoader = false;"
                 class="img-fluid"
                 [alt]="img.alt">
            <img [hidden]="!imageLoader" src="/app/assets/img/loader.gif"
                 style="padding: 41% 25%;"/>
        </a>
        <div class="product-hover-icon-wrapper">
            <span class="single-icon single-icon--quick-view">
                <a class="cd-trigger"
                   (click)="displayQuickView()"
                   href="javascript:void(0)">
                    <i class="fa fa-search"></i>
                </a>
            </span>
            <span class="single-icon single-icon--add-to-cart">
                <a href="javascript:void(0)"
                   (click)="addToCart()">
                    <i class="fa fa-shopping-basket"></i><span>ADD TO CART</span>
                </a>
            </span>
<!--            <span class="single-icon single-icon&#45;&#45;compare">-->
<!--                <a href="#"-->
<!--                   data-tippy="Compare"-->
<!--                   data-tippy-inertia="true"-->
<!--                   data-tippy-animation="shift-away"-->
<!--                   data-tippy-delay="50"-->
<!--                   data-tippy-arrow="true"-->
<!--                   data-tippy-theme="sharpborder">-->
<!--                    <i class="fa fa-exchange"> </i>-->
<!--                </a>-->
<!--            </span>-->
        </div>
    </div>
    <div class="single-grid-product__content">
        <h3 class="title">
            <a routerLink="/product/{{product.code}}/v/{{displaySizeVariant.code}}">{{displayStyleVariant.name}}</a>
        </h3>
        <div class="price">
            <span class="main-price discounted"
                  [ngClass]="{'discounted' : displaySizeVariant.priceDiscount}">{{displaySizeVariant.price}}</span>
            <span *ngIf="displaySizeVariant.priceDiscount"
                  class="discounted-price">{{displaySizeVariant.priceDiscount}}</span>
        </div>
        <!--        <div class="rating">-->
        <!--            <i class="fa fa-star active"></i>-->
        <!--            <i class="fa fa-star active"></i>-->
        <!--            <i class="fa fa-star active"></i>-->
        <!--            <i class="fa fa-star active"></i>-->
        <!--            <i class="fa fa-star"></i>-->
        <!--        </div>-->
        <div class="color">
            <ul>
                <li *ngFor="let color of product.variants">
                    <a [class.active]="color.uuid === displayStyleVariant.uuid" href="javascript:void(0);"
                       (click)="setDisplayStyleVariant(color)">
                        <span [style.background-color]="color.colorCssCode ? color.colorCssCode : '#a9a9a9'"
                              class="color-picker">
                        </span>
                    </a>
                </li>
            </ul>
        </div>
<!--        <a href="#" class="favorite-icon" data-tippy="Add to Wishlist"-->
<!--           data-tippy-inertia="true" data-tippy-animation="shift-away"-->
<!--           data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder"-->
<!--           data-tippy-placement="left">-->
<!--            <i class="fa fa-heart-o"></i>-->
<!--            <i class="fa fa-heart"></i>-->
<!--        </a>-->
    </div>
</div>

<!--=======  End of grid view product  =======-->

<!--=======  list view product  =======-->

<div *ngIf="itemView === 'list'" class="single-list-product">

    <div class="single-list-product__image">
<!--        <a href="#" class="favorite-icon" data-tippy="Add to Wishlist"-->
<!--           data-tippy-inertia="true" data-tippy-animation="shift-away"-->
<!--           data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder"-->
<!--           data-tippy-placement="left">-->
<!--            <i class="fa fa-heart-o"></i>-->
<!--            <i class="fa fa-heart"></i>-->
<!--        </a>-->

        <div class="product-badge-wrapper">
            <span *ngIf="displaySizeVariant.discountBadgeInfo"
                  class="onsale">{{displaySizeVariant.discountBadgeInfo}}</span>
            <span *ngIf="displaySizeVariant.hotBadge" class="hot">Hot</span>
        </div>
        <a routerLink="/product/{{product.code}}/v/{{displaySizeVariant.code}}" class="image-wrap" #imageWrapper>
            <img *ngFor="let img of displayStyleVariant.images"
                 [hidden]="imageLoader"
                 (load)="imageLoader = false;"
                 [src]="'/v1'+img.path"
                 class="img-fluid"
                 [alt]="img.alt">
            <img [hidden]="!imageLoader" src="/app/assets/img/loader.gif"
                 style="padding: 41% 25%;"/>
        </a>


    </div>

    <div class="single-list-product__content">
        <h3 class="title">
            <a routerLink="/product/{{product.code}}/v/{{displaySizeVariant.code}}">{{displayStyleVariant.name}}</a>
        </h3>
        <div class="price">
            <span class="main-price discounted"
                  [ngClass]="{'discounted' : displaySizeVariant.priceDiscount}">{{displaySizeVariant.price}}</span>
            <span *ngIf="displaySizeVariant.priceDiscount"
                  class="discounted-price">{{displaySizeVariant.priceDiscount}}</span>
        </div>
        <p class="product-short-desc">{{displayStyleVariant.description}}</p>

        <div class="color">
            <ul>
                <li *ngFor="let color of product.variants">
                    <a [class.active]="color.uuid === displayStyleVariant.uuid" href="javascript:void(0);"
                       (click)="setDisplayStyleVariant(color)">
                        <span [style.background-color]="color.colorCssCode ? color.colorCssCode : '#a9a9a9'"
                              class="color-picker">
                        </span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="product-hover-icon-wrapper">
            <span class="single-icon single-icon--quick-view">
                <a (click)="displayQuickView()"
                   href="javascript:void(0)">
                    <i class="fa fa-search"></i>
                </a>
            </span>
            <span class="single-icon single-icon--add-to-cart">
                <a href="javascript:void(0)"
                   (click)="addToCart()">
                    <i class="fa fa-shopping-basket"></i>
                    <span>ADD TO CART</span>
                </a>
            </span>
<!--            <span class="single-icon single-icon&#45;&#45;compare">-->
<!--                <a href="#"-->
<!--                   data-tippy="Compare"-->
<!--                   data-tippy-inertia="true"-->
<!--                   data-tippy-animation="shift-away"-->
<!--                   data-tippy-delay="50"-->
<!--                   data-tippy-arrow="true"-->
<!--                   data-tippy-theme="sharpborder">-->
<!--                    <i class="fa fa-exchange"></i>-->
<!--                </a>-->
<!--            </span>-->
        </div>

    </div>
</div>

<!--=======  End of list view product  =======-->
