<!--=======  grid view product  =======-->

<div *ngIf="itemView === 'grid' " class="single-grid-product">
    <div class="single-grid-product__image">
        <div class="product-badge-wrapper">
            <span *ngIf="product.discountBadgeInfo" class="onsale">{{product.discountBadgeInfo}}</span>
            <span *ngIf="product.hotBadge" class="hot">Hot</span>
        </div>
        <a routerLink="/product/{{product.code}}" class="image-wrap" #imageWrapper>
            <img *ngFor="let img of product.images" src="{{img.path}}"
                 class="img-fluid"
                 alt="{{img.alt}}">
        </a>
        <div class="product-hover-icon-wrapper">
            <span class="single-icon single-icon--quick-view">
                <a class="cd-trigger"
                   (click)="displayQuickView()"
                   href="javascript:void(0)"
                   data-tippy="Quick View"
                   data-tippy-inertia="true"
                   data-tippy-animation="shift-away"
                   data-tippy-delay="50"
                   data-tippy-arrow="true"
                   data-tippy-theme="sharpborder">
                    <i class="fa fa-search"></i>
                </a>
            </span>
            <span class="single-icon single-icon--add-to-cart">
                <a href="#"
                   data-tippy="Add to cart"
                   data-tippy-inertia="true"
                   data-tippy-animation="shift-away"
                   data-tippy-delay="50"
                   data-tippy-arrow="true"
                   data-tippy-theme="sharpborder">
                    <i class="fa fa-shopping-basket"></i><span>ADD TO CART</span>
                </a>
            </span>
            <span class="single-icon single-icon--compare">
                <a href="#"
                   data-tippy="Compare"
                   data-tippy-inertia="true"
                   data-tippy-animation="shift-away"
                   data-tippy-delay="50"
                   data-tippy-arrow="true"
                   data-tippy-theme="sharpborder">
                    <i class="fa fa-exchange"> </i>
                </a>
            </span>
        </div>
    </div>
    <div class="single-grid-product__content">
        <h3 class="title">
            <a routerLink="/product/{{product.code}}">{{product.name}}</a>
        </h3>
        <div class="price">
            <span class="main-price discounted"
                  [ngClass]="{'discounted' : product.priceDiscount}">{{product.price}}</span>
            <span *ngIf="product.priceDiscount" class="discounted-price">{{product.priceDiscount}}</span>
        </div>
        <!--        <div class="rating">-->
        <!--            <i class="fa fa-star active"></i>-->
        <!--            <i class="fa fa-star active"></i>-->
        <!--            <i class="fa fa-star active"></i>-->
        <!--            <i class="fa fa-star active"></i>-->
        <!--            <i class="fa fa-star"></i>-->
        <!--        </div>-->
        <div class="color">
            <ul>
                <li>
                    <a class="active" href="#" data-tippy="Black"
                       data-tippy-inertia="true" data-tippy-animation="shift-away"
                       data-tippy-delay="50" data-tippy-arrow="true"
                       data-tippy-theme="roundborder">
                        <span class="color-picker black"></span>
                    </a>
                </li>
                <li>
                    <a href="#"
                       data-tippy="Blue"
                       data-tippy-inertia="true"
                       data-tippy-animation="shift-away"
                       data-tippy-delay="50"
                       data-tippy-arrow="true"
                       data-tippy-theme="roundborder">
                        <span class="color-picker blue"></span>
                    </a>
                </li>
                <li>
                    <a href="#"
                       data-tippy="Brown"
                       data-tippy-inertia="true"
                       data-tippy-animation="shift-away"
                       data-tippy-delay="50"
                       data-tippy-arrow="true"
                       data-tippy-theme="roundborder">
                        <span class="color-picker brown"></span>
                    </a>
                </li>
            </ul>
        </div>
        <a href="#" class="favorite-icon" data-tippy="Add to Wishlist"
           data-tippy-inertia="true" data-tippy-animation="shift-away"
           data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder"
           data-tippy-placement="left">
            <i class="fa fa-heart-o"></i>
            <i class="fa fa-heart"></i>
        </a>
    </div>
</div>

<!--=======  End of grid view product  =======-->

<!--=======  list view product  =======-->

<div *ngIf="itemView === 'list'" class="single-list-product">

    <div class="single-list-product__image">
        <a href="#" class="favorite-icon" data-tippy="Add to Wishlist"
           data-tippy-inertia="true" data-tippy-animation="shift-away"
           data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder"
           data-tippy-placement="left">
            <i class="fa fa-heart-o"></i>
            <i class="fa fa-heart"></i>
        </a>

        <div class="product-badge-wrapper">
            <span *ngIf="product.discountBadgeInfo" class="onsale">{{product.discountBadgeInfo}}</span>
            <span *ngIf="product.hotBadge" class="hot">Hot</span>
        </div>
        <a routerLink="/product/{{product.code}}" class="image-wrap" #imageWrapper>
            <img *ngFor="let img of product.images" src="{{img.path}}"
                 class="img-fluid"
                 alt="{{img.alt}}">
        </a>


    </div>

    <div class="single-list-product__content">
        <h3 class="title">
            <a routerLink="/product/{{product.code}}">{{product.title}}</a>
        </h3>
        <div class="price">
            <span class="main-price discounted"
                  [ngClass]="{'discounted' : product.priceDiscount}">{{product.price}}</span>
            <span *ngIf="product.priceDiscount" class="discounted-price">{{product.priceDiscount}}</span>
        </div>
        <p class="product-short-desc">{{product.description}}</p>

        <div class="color">
            <ul>
                <li><a class="active" href="#" data-tippy="Black"
                       data-tippy-inertia="true" data-tippy-animation="shift-away"
                       data-tippy-delay="50" data-tippy-arrow="true"
                       data-tippy-theme="roundborder"><span
                        class="color-picker black"></span></a></li>
                <li><a href="#" data-tippy="Blue" data-tippy-inertia="true"
                       data-tippy-animation="shift-away" data-tippy-delay="50"
                       data-tippy-arrow="true" data-tippy-theme="roundborder"><span
                        class="color-picker blue"></span></a></li>
                <li><a href="#" data-tippy="Brown" data-tippy-inertia="true"
                       data-tippy-animation="shift-away" data-tippy-delay="50"
                       data-tippy-arrow="true" data-tippy-theme="roundborder"><span
                        class="color-picker brown"></span></a></li>
            </ul>
        </div>

        <div class="product-hover-icon-wrapper">
            <span class="single-icon single-icon--quick-view">
                <a class="cd-trigger"
                   href="#qv-1"
                   data-tippy="Quick View"
                   data-tippy-inertia="true"
                   data-tippy-animation="shift-away"
                   data-tippy-delay="50"
                   data-tippy-arrow="true"
                   data-tippy-theme="sharpborder">
                    <i class="fa fa-search"></i>
                </a>
            </span>
            <span class="single-icon single-icon--add-to-cart">
                <a href="#"
                   data-tippy="Add to cart"
                   data-tippy-inertia="true"
                   data-tippy-animation="shift-away"
                   data-tippy-delay="50"
                   data-tippy-arrow="true"
                   data-tippy-theme="sharpborder">
                    <i class="fa fa-shopping-basket"></i>
                    <span>ADD TO CART</span>
                </a>
            </span>
            <span class="single-icon single-icon--compare">
                <a href="#"
                   data-tippy="Compare"
                   data-tippy-inertia="true"
                   data-tippy-animation="shift-away"
                   data-tippy-delay="50"
                   data-tippy-arrow="true"
                   data-tippy-theme="sharpborder">
                    <i class="fa fa-exchange"></i>
                </a>
            </span>
        </div>

    </div>
</div>

<!--=======  End of list view product  =======-->
